﻿
@model AspnetMvcDemo.Models.VisitDetailsModel
@using Resources
@{
    ViewBag.Title = "Home";

}
@section Styles {
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}

@section Scripts {

    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    @Scripts.Render("~/bundle/js/tables_datatables")
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/bootbox/bootbox")
    @Scripts.Render("~/bundle/vendor/js/sweetalert2/sweetalert2")

    @Scripts.Render("~/bundle/js/ui_modals")
}
<style type="text/css">
    .nav-tabs-top {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 5%;
        padding-left: 100px;
        padding-right: 100px;
    }


    a {
        font-weight: bold;
        text-align: right;
    }

    .edit:hover {
        background-color: white;
        color: #02BC77;
    }

    tr:hover {
        color: white;
        background-color: #2F3337;
    }
</style>

<body style="background-color :#ECECF1; background-size: cover;" dir="rtl">
    <div class="page-header  align-items-center">
        <h3 style="text-align : right ; text-decoration:underline ">@Resources.Today_Visits</h3>
    </div>
    @if (Session["Choice"].ToString() == "Concrete")
    {
        if (Session["JobTitle"].ToString() == "Monitor")
        {
            <h4 style="text-align : right">@System.DateTime.Today.ToShortDateString()</h4>
        }

        <div class="nav-tabs-top nav-responsive-xl">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#navs-top-responsive-link-1">@Resources.Prepare_Concrete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-2">@Resources.Deliver_Concrete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-3">@Resources.Break_Concrete_Sample</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="navs-top-responsive-link-1">
                    <div class="card-body">
                        @if (Session["JobTitle"].ToString() == "Admin")
                        {
                            <div class="table-responsive">
                                <table class="datatables-demo table table-bordered">
                                    <thead style="text-align:center">
                                        <tr>
                                            <th>@Resources.Monitor_Name</th>
                                            <th>@Resources.Visit_Date</th>
                                            <th>@Resources.Factory_Name</th>
                                            <th>@Resources.Visit_Location</th>

                                            <th>
                                                @Resources.Edit
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align:center">
                                        @foreach (var item in Model.TotalVisits)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Monitor)
                                                </td>
                                                <td>
                                                    @item.VisitDate.Value.ToShortDateString()
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FactoryName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FactoryLocation)
                                                </td>

                                                <td>
                                                    <input type="button" value="@Resources.Edit" id="editVisit" class="edit btn btn-success" data-toggle="modal" data-target="#Visit-details"
                                                           onclick="Modalpop(@item.Id);" data-url="@Url.Action("VisitDetails", "Home", new { id = item.Id })" style="cursor:pointer" />
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        @if (Session["JobTitle"].ToString() == "Monitor")
                        {

                            <table class="table table-reponsive">
                                <thead style="text-align:center">
                                    <tr>
                                        <th>@Resources.Factory_Name</th>
                                        <th>@Resources.Visit_Location</th>

                                        <th>@Resources.Move</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:center">
                                    @foreach (var item in Model.TodayVisits)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Location)
                                            </td>

                                            <td>
                                                <i class="ion ion-ios-arrow-dropleft-circle d-block"
                                                   onclick="location.href='@Url.Action("ConcreteFactoryReports", "ConcreteFactoryReports", new { id = item.Id })'" style="cursor:pointer"></i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>

                <div class="tab-pane fade" id="navs-top-responsive-link-2">
                    <div class="card-body">
                        <table class="table table-reponsive">
                            <thead style="text-align:center">
                                <tr>
                                    <th>@Resources.Factory_Name</th>
                                    <th>@Resources.Visit_Location</th>

                                    <th>@Resources.Move</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                @foreach (var item in Model.ReceiveSamples)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>

                                        @*<td>
                                                <i class="ion ion-ios-arrow-dropleft-circle d-block"
                                                   onclick="location.href='@Url.Action("ConcreteFactoryReports", "ConcreteFactoryReports", new { id = item.Id })'" style="cursor:pointer"></i>
                                            </td>*@
                                        <td>
                                            <button class="btn-success" id="received" onclick="location.href='@Url.Action("UpdateConcreteReport", "ConcreteFactoryReports", new { id = item.Id })'">Received</button>
                                            <input type="hidden" id="hfReceived" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="navs-top-responsive-link-3">
                    <div class="card-body">
                        <table class="table table-reponsive">
                            <thead style="text-align:center">
                                <tr>
                                    <th>@Resources.Factory_Name</th>
                                    <th>@Resources.Visit_Location</th>

                                    <th>@Resources.Move</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                @foreach (var item in Model.BrokenSamples)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>

                                        <td>
                                            <i class="ion ion-ios-arrow-dropleft-circle d-block"
                                               onclick="location.href='@Url.Action("ConcreteFactoryReports", "ConcreteFactoryReports", new { id = item.Id })'" style="cursor:pointer"></i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Session["Choice"].ToString() == "Block")
    {
        <div class="nav-tabs-top nav-responsive-xl">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#navs-top-responsive-link-1">@Resources.Prepare_Block</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-2">@Resources.Deliver_Block</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="navs-top-responsive-link-1">
                    <div class="card-body">
                        <table class="table table-reponsive">
                            <thead style="text-align:center">
                                <tr>
                                    <th>@Resources.Factory_Name</th>
                                    <th>@Resources.Visit_Location</th>

                                    <th>@Resources.Move</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                <tr>
                                    <td>السلي</td>
                                    <td>رؤى الحياة</td>

                                    <td>
                                        <i class="ion ion-ios-arrow-dropleft-circle d-block"
                                           onclick="location.href='@Url.Action("BlockFactoryReports", "BlockFactoryReports")'" style="cursor:pointer"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>النظيم</td>
                                    <td>الحطيم</td>

                                    <td>
                                        <i class="ion ion-ios-arrow-dropleft-circle d-block"
                                           onclick="location.href='@Url.Action("BlockFactoryReports", "BlockFactoryReports")'" style="cursor:pointer"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ملهم</td>
                                    <td>ستار الرياض</td>

                                    <td>
                                        <i class="ion ion-ios-arrow-dropleft-circle d-block"
                                           onclick="location.href='@Url.Action("BlockFactoryReports", "BlockFactoryReports")'" style="cursor:pointer"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>أساس البناء</td>
                                    <td>طريق مكة</td>

                                    <td>
                                        <i class="ion ion-ios-arrow-dropleft-circle d-block"
                                           onclick="location.href='@Url.Action("BlockFactoryReports", "BlockFactoryReports")'" style="cursor:pointer"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="navs-top-responsive-link-2">
                    <div class="card-body">
                        <table class="table table-reponsive">
                            <thead style="text-align:center">
                                <tr>
                                    <th>@Resources.Factory_Name</th>
                                    <th>@Resources.Visit_Location</th>

                                    <th>@Resources.Move</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                <tr>
                                    <td>السلي</td>
                                    <td>رؤى الحياة</td>

                                    <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                                </tr>
                                <tr>
                                    <td>النظيم</td>
                                    <td>الحطيم</td>

                                    <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                                </tr>
                                <tr>
                                    <td>ملهم</td>
                                    <td>ستار الرياض</td>

                                    <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                                </tr>
                                <tr>
                                    <td>أساس البناء</td>
                                    <td>طريق مكة</td>
                                    <td><i class="ion ion-ios-arrow-dropleft-circle d-block"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="modal fade" id="Modal_sucess" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title text-primary text-center" id="myModalLabel">@Resources.Visit_Details</h3>
                </div>
                <div id="ModalBody" class="modal-body">

                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    //$("#received").click(function () {
    //    $.ajax({
    //        url: '/ConcreteFactoryReports/UpdateConcreteSample',
    //        type: 'POST',
    //        async: false,
    //        dataType: 'text',
    //        processData: false,
    //        data: {
    //            input: JSON.stringify(IVRInstant.data),
    //            id: $("#wrkname").val()
    //        },
    //        success: function (data) { }
    //    });
    //});

    $(document).ready(function () {
        $("#hfReceived").val(0);

        if ($("#hfReceived").val() == 1) {
            $("#received").prop("disabled", true);
        }
    })

    $("#received").click(function () {
        $("#hfReceived").val(1);
    });

    function Modalpop(Id) {
        var urlPost = '@Url.Action("VisitDetails", "Home")'+"/"+Id;
        $.get(urlPost, function (data) {
            $('#ModalBody').html(data.toString());

            $('#Modal_sucess').modal('show');

        });
   }

</script>


