﻿@model AspnetMvcDemo.Models.AdminVisit
@using Resources


<div class="tab-pane fade active show">
    @using (Html.BeginForm("UpdateVisit", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-label">@Resources.Monitor_Name</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*@Html.TextBoxFor(M => M.Monitor, new { @class = "form-control" })*@
                        @*@Html.DropDownListFor(m => m.RemainingMonitors,Model.Monitor, new { @class = "form-control" })*@
                        @Html.HiddenFor(M => M.Id)
                        @*@Html.HiddenFor(M => M.MonitorId)*@
                        @Html.DropDownListFor(M => M.MonitorId, new SelectList(Model.RemainingMonitors, "MonitorId", "MonitorName"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">@Resources.Visit_Date</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.TextBoxFor(M => M.VisitDate, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-label">@Resources.Factory_Name</label>
                    </div>

                    <div class="col-md-4 form-group">
                        @*<input type="email" class="form-control">*@
                        @Html.HiddenFor(M => M.FactoryId)
                        @Html.TextBoxFor(m => m.FactoryName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.Factroy_Location</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input type="text" class="form-control">*@
                        @Html.TextBoxFor(m => m.FactoryLocation, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">@Resources.Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Resources.Cancel</button>
            </div>
        </form>
    }
    </div>