﻿@model AspnetMvcDemo.Models.AddMixDesign
@using Resources
@using (Html.BeginForm("AddMixingDesign","MixingDesign",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="tab-pane fade active show">
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-label">@Resources.Factroy </label>
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.DropDownListFor(M => M.FactoryId, new SelectList(Model.Factories, "FactoryId", "FactoryName"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">@Resources.Concrete_Rank </label>
                    </div>
                    <div class="col-md-4 form-group">
                        @{
                            var selectList = new SelectList(
                                new List<SelectListItem>
                                {
                                    new SelectListItem {Text = "C-40", Value =  "C-40"},
                                    new SelectListItem {Text = "C-35", Value =  "C-35"},
                                    new SelectListItem {Text = "C-30", Value =  "C-30"},
                                    new SelectListItem {Text = "C-20", Value =  "C-20"},                                   
                                }, "Value", "Text");
                        }
                        @Html.DropDownListFor(m => m.ConcreteRank, selectList, "اختر الرتبة", new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-label">@Resources.Cement_Weight</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input type="email" class="form-control">*@
                        @Html.TextBoxFor(m => m.CementWeight, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.Water_Weight</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input type="text" class="form-control">*@
                        @Html.TextBoxFor(m => m.WaterWeight, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.Washed_Sand</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input class="form-control" type="text" />*@
                        @Html.TextBoxFor(m => m.WashedSand, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.White_Sand</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input class="form-control" type="email" />*@
                        @Html.TextBoxFor(m => m.WhiteSand, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.Rubble_3_4</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input class="form-control" type="text" />*@
                        @Html.TextBoxFor(m => m.Rubble3by4, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.Rubble_3_8</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input class="form-control" type="number" />*@
                        @Html.TextBoxFor(m => m.Rubble3by8, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" >@Resources.Add</button>
                @*<input type="button" value="Add" onclick="location.href='@Url.Action("AddMixingDesign", "MixingDesign")'" />*@
                @*@Html.ActionLink("Add", "AddMixingDesign", "MixingDesign", new { Model }, new { @class = "btn btn-info" })*@
                <button type="button" class="btn btn-danger " data-dismiss="modal">@Resources.Cancel</button>
            </div>
        </form>
    </div>
}