﻿@model IEnumerable<AspnetMvcDemo.Models.ApproveMixingDesign>
@using Resources
@{
    ViewBag.Title = "ApproveMixingDesign";
}

@section Scripts {
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/bootbox/bootbox")
    @Scripts.Render("~/bundle/vendor/js/sweetalert2/sweetalert2")

    @Scripts.Render("~/bundle/js/ui_modals")
}

<style type="text/css">
    .nav-tabs-top {
    }

    .table {
        border-bottom: solid 2px #eeeeee;
    }
    .page-header {
        margin-top: 2%;
        margin-bottom: 3%;
    }
    h3
    {
        text-decoration:underline;
        text-align : right;
    }
</style>

<body style="background-color :#ECECF1; background-size: cover;" dir="rtl">
    <div id="alertApproved" class="alert alert-dark-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
         @Resources.Approved_Done
        </div>
        <div id="alertDeclined" class="alert alert-dark-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
           @Resources.Decline_Done
        </div>
    <div class="page-header  align-items-center">
        <h3>@Resources.Approve_Mixing_Design</h3>
    </div>
    <div class="nav-tabs-top nav-responsive-xl" style="-ms-flex-direction: column; flex-direction: column; padding-left: 100px; padding-right: 100px;">
        @*@Html.ActionLink("Create New", "AddMixingDesign")*@
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#navs-top-responsive-link-2">@Resources.Approved</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#navs-top-responsive-link-1">@Resources.Pending</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#navs-top-responsive-link-3">@Resources.Decline</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade " id="navs-top-responsive-link-1">
                <div class="card-body">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>
                                    @Resources.Factory_Name
                                </th>
                                <th>
                                    @Resources.Area
                                </th>
                                <th>
                                    @Resources.Owner_Info
                                </th>
                                <th>
                                    @Resources.Concrete_Rank
                                </th>
                                <th>
                                    @Resources.Details
                                </th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            if (item.Status == "Pending")
                            {
                                <tbody style="text-align:center">
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FactoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Latitude)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OwnerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ConcreteRank)
                                        </td>
                                        <td>
                                            <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop(@item.Id);" data-url="@Url.Action("Details", "MixingDesign", new { id = item.Id })" style="cursor:pointer"></i>
                                        </td>
                                    </tr>
                                </tbody>

                            }
                        }

                    </table>
                </div>
            </div>
            <div class="tab-pane fade show active" id="navs-top-responsive-link-2">
                <div class="card-body">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>
                                    @Resources.Factory_Name
                                </th>
                                <th>
                                    @Resources.Area
                                </th>
                                <th>
                                    @Resources.Owner_Info
                                </th>
                                <th>
                                    @Resources.Concrete_Rank
                                </th>
                                <th>
                                    @Resources.Details
                                </th>
                            </tr>

                        </thead>

                        @foreach (var item in Model)
                        {
                            if (item.Status == "Approved")
                            {
                                <tbody style="text-align:center">
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FactoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Latitude)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OwnerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ConcreteRank)
                                        </td>
                                        <td>
                                            <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop(@item.Id);" data-url="@Url.Action("Details", "MixingDesign", new { id = item.Id })" style="cursor:pointer"></i>
                                        </td>
                                    </tr>
                                </tbody>

                            }
                        }

                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-top-responsive-link-3">
                <div class="card-body">
                    <table class="table table-reponsive">
                        <thead style="text-align:center">
                            <tr>
                                <th>
                                    @Resources.Factory_Name
                                </th>
                                <th>
                                    @Resources.Area
                                </th>
                                <th>
                                    @Resources.Owner_Info
                                </th>
                                <th>
                                    @Resources.Concrete_Rank
                                </th>
                                <th>
                                    @Resources.Details
                                </th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            if (item.Status == "Declined")
                            {
                                <tbody style="text-align:center">
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FactoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Latitude)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OwnerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ConcreteRank)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comments)
                                        </td>
                                        <td>
                                            <i class="ion ion-ios-arrow-dropleft-circle d-block" data-toggle="modal" onclick="Modalpop(@item.Id);" data-url="@Url.Action("Details", "MixingDesign", new { id = item.Id })" style="cursor:pointer"></i>
                                        </td>
                                    </tr>
                                </tbody>

                            }
                        }

                    </table>
                </div>
            </div>

            <div class="modal fade" id="Modal_sucess" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title text-primary text-center" id="myModalLabel">@Resources.Mix_Design_Details</h3>
                        </div>
                        <div id="ModalBody" class="modal-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<script>

    function Modalpop(id) {
        var urlPost = '@Url.Action("Details", "MixingDesign")'+"/"+id;
        $.get(urlPost, function (data) {

            $('#ModalBody').html(data.toString());

            $('#Modal_sucess').modal('show');

        });
    }
    $(document).ready(function () {
        $("#alertApproved").hide();
        $("#alertDeclined").hide();
        var message ="@TempData["AlertMessage"]";

        if (message != null && message != "") {
            if (message == "Approved") {
                $("#alertApproved").show("fast");
                $("#alertDeclined").hide();
            }
            else {
                $("#alertApproved").hide();
                $("#alertDeclined").show("fast");
            }
        }
    })

</script>
