﻿@model AspnetMvcDemo.Models.ApproveMixingDesign
@using Resources


@using (Html.BeginForm("UpdateMixingDesign", "MixingDesign", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <form>
        <div class="tab-pane fade active show">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-label">@Resources.Factory_Name</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.TextBoxFor(M => M.FactoryName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">@Resources.Concrete_Rank </label>
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.TextBoxFor(M => M.ConcreteRank, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-label">@Resources.Cement_Weight</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input type="email" class="form-control">*@
                        @Html.TextBoxFor(m => m.CementWeight, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.Water_Weight</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input type="text" class="form-control">*@
                        @Html.TextBoxFor(m => m.WaterWeight, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.Washed_Sand</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input class="form-control" type="text" />*@
                        @Html.TextBoxFor(m => m.WashedSand, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.White_Sand</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input class="form-control" type="email" />*@
                        @Html.TextBoxFor(m => m.WhiteSand, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.Rubble_3_4</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input class="form-control" type="text" />*@
                        @Html.TextBoxFor(m => m.Rubble3by4, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="form-label">@Resources.Rubble_3_8</label>
                    </div>
                    <div class="col-md-4 form-group">
                        @*<input class="form-control" type="number" />*@
                        @Html.TextBoxFor(m => m.Rubble3by8, new { type = "number", min = "0", step = "1", @class = "form-control" })
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.Status, new { id = "status" })
            @Html.HiddenFor(m => m.Id)
            <div class="modal-footer">
                <button type="submit" id="approve" class="btn btn-success">@Resources.Approve</button>
                <button type="submit" id="decline" class="btn btn-danger">@Resources.Decline</button>
            </div>
        </div>
    </form>
}

<script type="text/javascript">   

    $("#approve").click(function () {
        $("#status").val("Approved");
        $.alert.open('Approved');
        //alert("Approved");
        
    });

    $("#decline").click(function () {
        $("#status").val("Declined");
        $.alert.open('Declined');
        //alert("Dclined");        
    });
</script>
