@{bool isHorizontal = ViewData["LayoutSidenavHorizontal"] != null && ViewData["LayoutSidenavHorizontal"].ToString() == "True";}
@{string currentPage = @Request.Url.AbsolutePath;}
@using Resources
<!-- Layout sidenav -->
<div style="text-align:right" id="layout-sidenav" class="@(isHorizontal ? "layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0" : "layout-sidenav sidenav-vertical") sidenav bg-sidenav-theme">
    @if (!isHorizontal)
    {

    <div style="text-align:right" class="app-brand demo">
        <span>
            @*<svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path style="fill: #fff;" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>*@
            <img src="~/Images/login_logo.jpg" style="width:45px; height:45px;" />
        </span>
        @if (@Session["Choice"].ToString() == "Concrete")
        {
            <h3 href="/" class="app-brand-text demo sidenav-text font-weight-normal ml-3" style="padding-top:5%">@Resources.Concrete_Qunlitly</h3>

        }
        else
        {
            <h3 href="/" class="app-brand-text demo sidenav-text font-weight-normal ml-3" style="padding-top:5%">@Resources.Block_Quanlty</h3>

        }
        <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
            <i class="ion ion-md-menu align-middle"></i>
        </a>
    </div>

        <div style="text-align:right" class="sidenav-divider mt-0"></div>
    }


    <!-- Links -->
    @if (@Session["JobTitle"].ToString() == "Admin")
    {
<ul class="sidenav-inner@(!isHorizontal ? " py-1" : "")" style="height:500px; overflow:scroll">
    <!-- Home -->
    <li class="sidenav-item@(currentPage.StartsWith("/Home/") ? " active open" : "")">
        <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-paper"></i><div style="text-align:right">@Resources.Visits</div></a>
        <ul class="sidenav-menu" dir="rtl">
            <li class="sidenav-item@(currentPage == "/Home/Home" ? " active" : "")">
                @if (@Session["Choice"].ToString() == "Concrete")
                {
                    <a href="@Url.RouteUrl("Default", new { action = "Home", controller = "Home", id=1 })" class="sidenav-link"><i class="sidenav-icon"></i><div style="text-align:right">@Resources.Prepare_Sapmle</div></a>
                }
                @if (@Session["Choice"].ToString() == "Block")
                {
                    <a href="@Url.RouteUrl("Default", new { action = "Home", controller = "Home", id=2 })" class="sidenav-link"><i class="sidenav-icon"></i><div style="text-align:right">@Resources.Prepare_Sapmle</div></a>
                }
            </li>

            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon"></i><div style="text-align:right">@Resources.Deliver_Samples</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon" dir="rtl"></i><div style="text-align:right" dir="rtl" style="text-align:right">@Resources.Attending_pressure_resistance_test</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon"></i><div style="text-align:right">@Resources.Bring_materials_samples</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon"></i><div style="text-align:right">@Resources.Other_tasks</div></a>
            </li>
        </ul>

    </li>

    @if (@Session["Choice"].ToString() == "Concrete")
    {
        <li class="sidenav-item@(currentPage.StartsWith("/MixingDesign/") ? " active open" : "")">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-checkmark-circle"></i><div style="text-align:right">@Resources.Approve_Mixing_Design</div></a>
            <ul class="sidenav-menu" dir="rtl">

                <li class="sidenav-item@(currentPage == "/MixingDesign/MixingDesign" ? " active" : "")">
                    <a href="@Url.RouteUrl("Default", new { action = "MixingDesign", controller = "MixingDesign", id=1 })" class="sidenav-link"><i class="sidenav-icon"></i><div style="text-align:right">@Resources.Request_for_mixing_approval</div></a>
                </li>
                <li class="sidenav-item@(currentPage == "/MixingDesign/ApproveMixingDesign" ? " active" : "")">
                    <a href="@Url.RouteUrl("Default", new { action = "ApproveMixingDesign", controller = "MixingDesign" })" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Mixture_review</div></a>
                </li>

                <li class="sidenav-item">
                    <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Material_tests</div></a>
                </li>
                <li class="sidenav-item">
                    <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Concrete_tests</div></a>
                </li>
                <li class="sidenav-item">
                    <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Approve_or_Reject_Mixure</div></a>
                </li>

            </ul>
        </li>
    }



    <li class="sidenav-item@(currentPage.StartsWith("/Laboratory/") ? " active open" : "")">
        <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-flask"></i><div style="text-align:right">@Resources.Laboratory_Screen</div></a>
        <ul class="sidenav-menu" dir="rtl">

            <li class="sidenav-item@(currentPage == "/Laboratory/Laboratory" ? " active" : "")">
                @if (@Session["Choice"].ToString() == "Concrete")
                {
                    <a href="@Url.RouteUrl("Default", new { action = "Laboratory", controller = "Laboratory", id=1 })" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Deliver_Samples</div></a>
                }
                @if (@Session["Choice"].ToString() == "Block")
                {
                    <a href="@Url.RouteUrl("Default", new { action = "Laboratory", controller = "Laboratory", id=2 })" class="sidenav-link"><i class="sidenav-icon"></i><div style="text-align:right">@Resources.Deliver_Samples</div></a>
                }
            </li>

            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.day_pressure_resistance_test</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Interpol</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Followups</div></a>
            </li>

        </ul>
    </li>


    <li class="sidenav-item@(currentPage.StartsWith("/Factory/") ? " active open" : "")">
        <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-build"></i><div style="text-align:right">@Resources.Factory_evaluation</div></a>
        <ul class="sidenav-menu" dir="rtl">

            <li class="sidenav-item@(currentPage == "/Factory/CreateFactory" ? " active" : "")">
                <a href="@Url.RouteUrl("Default", new { action = "CreateFactory", controller = "Factory" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-add-circle"></i><div style="text-align:right">@Resources.Signup_as_new_Factory</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Factory_evaluation_for_the_purpose_of_classification</div></a>
            </li>



        </ul>
    </li>

    <li class="sidenav-item@(currentPage.StartsWith("/Manage/") ? " active open" : "")">
        <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-ios-business"></i><div style="text-align:right">@Resources.Administrative_follow_ups</div></a>
        <ul class="sidenav-menu" dir="rtl">
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Circulars</div></a>
            </li>
            <li class="sidenav-item">
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-ios-warning"></i><div style="text-align:right">@Resources.Warnings</div></a>
                <ul class="sidenav-menu" dir="rtl">
                    <li class="sidenav-item">
                        <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Violations</div></a>
                    </li>
                    <li class="sidenav-item">
                        <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Final_warning</div></a>
                    </li>
                    <li class="sidenav-item">
                        <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Pledge</div></a>
                    </li>
                </ul>
            </li>

            <li class="sidenav-item">
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-ios-close"></i><div style="text-align:right">@Resources.Close_the_factory</div></a>
                <ul class="sidenav-menu" dir="rtl">
                    <li class="sidenav-item">
                        <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Temporary_closure</div></a>
                    </li>
                    <li class="sidenav-item">
                        <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Factory_visit_visit_evaluation</div></a>
                    </li>
                    <li class="sidenav-item">
                        <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Reopen</div></a>
                    </li>
                </ul>
            </li>

            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Meeting_minutes</div></a>
            </li>
        </ul>
    </li>


    <li class="sidenav-item@(currentPage.StartsWith("/ConcreteFactoryReports/") ? " active open" : "")">
        <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-ios-paper-plane"></i><div style="text-align:right">@Resources.Reports</div></a>
        <ul class="sidenav-menu" dir="rtl">
            <li class="sidenav-item@(currentPage == "/ConcreteFactoryReports/ConcreteSampleReports" ? " active" : "")">
                @if (@Session["Choice"].ToString() == "Concrete")
                {
                    <a href="@Url.RouteUrl("Default", new { action = "ConcreteSampleReports", controller = "ConcreteFactoryReports"})" class="sidenav-link"><i class="sidenav-icon ion ion-md-paper"></i><div style="text-align:right">@Resources.Field_visit_report</div></a>
                }
            </li>

            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.daily_report</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.monthly_report</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.monthly_report</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Monthly_performance_report</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Annual_Report</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.String1Technical_report_to_close_the_factory</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Monthly_report_on_warnings</div></a>
            </li>

            <li class="sidenav-item@(currentPage == "/Factory/FactoriesList" ? " active" : "")">
                @if (@Session["Choice"].ToString() == "Concrete")
                {
                    <a href="@Url.RouteUrl("Default", new { action = "FactoriesList", controller = "Factory", id=1 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-list"></i><div style="text-align:right">@Resources.Factories_List</div></a>
                }
                @if (@Session["Choice"].ToString() == "Block")
                {
                    <a href="@Url.RouteUrl("Default", new { action = "FactoriesList", controller = "Factory", id=2 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-list"></i><div style="text-align:right">@Resources.Factories_List</div></a>
                }
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Factories_with_a_central_mixer</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Factory_classification</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Other_reports</div></a>
            </li>
        </ul>
    </li>

    <li class="sidenav-item@(currentPage.StartsWith("/Program/") ? " active open" : "")">
        <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-microphone"></i><div style="text-align:right">@Resources.The_program_s_media_portal</div></a>
        <ul class="sidenav-menu">
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.List_of_classified_factories</div></a>
            </li>
            <li class="sidenav-item">
                <a href="#" class="sidenav-link"><i class="sidenav-icon "></i><div style="text-align:right">@Resources.Concrete_awareness_services</div></a>
            </li>
        </ul>
        </li>


            <li class="sidenav-item@(currentPage.StartsWith("/User/") ? " active open" : "")">
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-settings"></i><div style="text-align:right">@Resources.Settings</div></a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item@(currentPage == "/User/CreateUser" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "CreateUser", controller = "User" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-person-add"></i><div style="text-align:right">@Resources.Roles_and_Accounts</div></a>
                    </li>
                    <li class="sidenav-item@(currentPage == "/User/UsersList" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "UsersList", controller = "User" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-people"></i><div style="text-align:right">@Resources.Users_List</div></a>
                    </li>
                </ul>
            </li>
        </ul>
        }
        @if (@Session["JobTitle"].ToString() == "Factory")
        {
            <ul class="sidenav-inner@(!isHorizontal ? " py-1" : "")" style="height:500px; overflow:scroll">
                <li class="sidenav-item@(currentPage == "/MixingDesign/MixingDesign" ? " active" : "")">
                    @if (@Session["Choice"].ToString() == "Concrete")
                    {
                        <a href="@Url.RouteUrl("Default", new { action = "MixingDesign", controller = "MixingDesign", id=1 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-circle"></i><div style="text-align:right">@Resources.Add_Mixing_Design</div></a>
                    }
                    @if (@Session["Choice"].ToString() == "Block")
                    {
                        <a href="@Url.RouteUrl("Default", new { action = "MixingDesign", controller = "MixingDesign", id=2 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-circle"></i><div style="text-align:right">@Resources.Add_Mixing_Design</div></a>
                    }
                </li>
                <li class="sidenav-item@(currentPage == "/Factory/CreateFactory" ? " active" : "")">
                    <a href="@Url.RouteUrl("Default", new { action = "CreateFactory", controller = "Factory" })" class="sidenav-link"><i class="sidenav-icon ion ion-md-add-circle"></i><div style="text-align:right">@Resources.Signup_as_new_Factory</div></a>
                </li>
                <li class="sidenav-item@(currentPage == "/Factory/FactoriesList" ? " active" : "")">
                    @if (@Session["Choice"].ToString() == "Concrete")
                    {
                        <a href="@Url.RouteUrl("Default", new { action = "FactoriesList", controller = "Factory", id=1 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-list"></i><div style="text-align:right">@Resources.Factories_List</div></a>
                    }
                    @if (@Session["Choice"].ToString() == "Block")
                    {
                        <a href="@Url.RouteUrl("Default", new { action = "FactoriesList", controller = "Factory", id=2 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-list"></i><div style="text-align:right">@Resources.Factories_List</div></a>
                    }
                </li>

            </ul>
        }
        @if (@Session["JobTitle"].ToString() == "Doctor")
        {
            <ul class="sidenav-inner@(!isHorizontal ? " py-1" : "")" style="height:500px; overflow:scroll">

                <li class="sidenav-item@(currentPage == "/Laboratory/Laboratory" ? " active" : "")">
                    @if (@Session["Choice"].ToString() == "Concrete")
                    {
                        <a href="@Url.RouteUrl("Default", new { action = "Laboratory", controller = "Laboratory", id=1 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-flask"></i><div style="text-align:right">@Resources.Laboratory_Screen</div></a>
                    }
                    @if (@Session["Choice"].ToString() == "Block")
                    {
                        <a href="@Url.RouteUrl("Default", new { action = "Laboratory", controller = "Laboratory", id=2 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-flask"></i><div style="text-align:right">@Resources.Laboratory_Screen</div></a>
                    }
                </li>

                <li class="sidenav-item@(currentPage.StartsWith("/TestingResults/") || currentPage.StartsWith("/TestingResults/") ? " active open" : "")">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-paper"></i><div style="text-align:right">@Resources.TestingResults</div></a>
                    <ul class="sidenav-menu">
                        @if (@Session["Choice"].ToString() == "Concrete")
                        {
                            <li class="sidenav-item@(currentPage == "/TestingResults/ConcreteTestingResult" ? " active" : "")">
                                <a href="@Url.RouteUrl("Default", new { action = "ConcreteTestingResult", controller = "TestingResults", id=1 })" class="sidenav-link"><div style="text-align:right">@Resources.Concrete_Testing_Result</div></a>
                            </li>
                        }
                        @if (@Session["Choice"].ToString() == "Block")
                        {
                            <li class="sidenav-item@(currentPage == "/TestingResults/BlockTestingResult" ? " active" : "")">
                                <a href="@Url.RouteUrl("Default", new { action = "BlockTestingResult", controller = "TestingResults", id=2 })" class="sidenav-link"><div style="text-align:right">@Resources.Block_Testing_Result</div></a>
                            </li>
                        }
                    </ul>
                </li>

            </ul>
        }
        @if (@Session["JobTitle"].ToString() == "Monitor")
        {
            <ul class="sidenav-inner@(!isHorizontal ? " py-1" : "")" style="height:500px; overflow:scroll">
                <!-- Home -->
                <li class="sidenav-item@(currentPage == "/Home/Home" ? " active" : "")">
                    @if (@Session["Choice"].ToString() == "Concrete")
                    {
                        <a href="@Url.RouteUrl("Default", new { action = "Home", controller = "Home", id=1 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-home"></i><div style="text-align:right">@Resources.Home</div></a>
                    }
                    @if (@Session["Choice"].ToString() == "Block")
                    {
                        <a href="@Url.RouteUrl("Default", new { action = "Home", controller = "Home", id=2 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-home"></i><div style="text-align:right">@Resources.Home</div></a>
                    }
                </li>
                <!-- Reports -->
                <li class="sidenav-item@(currentPage.StartsWith("/ConcreteFactoryReports/") || currentPage.StartsWith("/BlockFactoryReports/") ? " active open" : "")">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-paper"></i><div style="text-align:right">@Resources.Prepare_Samples</div></a>
                    <ul class="sidenav-menu">
                        @if (@Session["Choice"].ToString() == "Concrete")
                        {
                            <li class="sidenav-item@(currentPage == "/ConcreteFactoryReports/ConcreteFactoryReports" ? " active" : "")">
                                <a href="@Url.RouteUrl("Default", new { action = "ConcreteFactoryReports", controller = "ConcreteFactoryReports", id=1 })" class="sidenav-link"><div style="text-align:right">@Resources.Prepare_Concrete</div></a>
                            </li>
                        }
                        @if (@Session["Choice"].ToString() == "Block")
                        {
                            <li class="sidenav-item@(currentPage == "/BlockFactoryReports/BlockFactoryReports" ? " active" : "")">
                                <a href="@Url.RouteUrl("Default", new { action = "BlockFactoryReports", controller = "BlockFactoryReports", id=2 })" class="sidenav-link"><div style="text-align:right">@Resources.Prepare_Block</div></a>
                            </li>
                        }
                    </ul>
                </li>
                @if (@Session["Choice"].ToString() == "Concrete")
                {
                    <li class="sidenav-item@(currentPage == "/ConcreteSample/ConcreteSample" ? " active" : "")">
                        <a href="@Url.RouteUrl("Default", new { action = "ConcreteSample", controller = "ConcreteSample", id=1 })" class="sidenav-link"><i class="sidenav-icon ion ion-md-beaker"></i><div style="text-align:right">@Resources.Attend_Break_Concrete_Sample</div></a>
                    </li>
                }

            </ul>
        }
</div>
<!-- / Layout sidenav -->
